* {
    margin: 0;
    padding: 0;
}
.ti{
    width: 200px;height: 200px;background-color: red;z-index: 465;
    display: none;
}
.contain {
    width: 100%;
    height: 100%;
    position: relative;

    .fixtop {
        position: absolute;
        top: 110px;
        width: 100%;
        z-index: 20;
        height: 200px;
        background-color: red;
        border-top: 1px solid #ccc;
        display: none;
    }

}

.contain .containson {
    width: 1200px;
    margin: auto;
    height: 100vh;
    background-color: aqua;


    .topson {
        position: relative;
        display: flex;
        align-items: center;
        width: 1100px;
        padding: 0 50px;
        background-color: antiquewhite;
        height: 80px;
        line-height: 80px;

        .img {
            vertical-align: middle;
            width: 40px;
            height: 40px;

            .imgson {
                width: 100%;
                height: 100%;
            }
        }

        .navul {
            padding: 0 20px;
            list-style: none;
            display: flex;
            position: relative;
            justify-content: space-around;

            li {
                padding: 0 4px;
                &:hover{
                    color: orange;
                }
            }

            .xiaoone:hover .asideul {
                color: red;

                display: block;
            }

            .asideul {
                display: none;
                background-color: #fff;
                position: absolute;
                bottom: -471px;
                left: 50px;
                list-style: none;
                width: 200px;
                padding: 20px 0;
                border: 1px solid orange;

                li {
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    padding: 10px 20px;

                }

                li .rightarrow {
                    float: right;
                    border-left: 1px solid #000;
                    border-bottom: 1px solid #000;
                    transform: rotate(-45deg);
                    width: 10px;
                    height: 10px;
                }

                li:hover {
                    background-color: orange;
                    color: #fff;
                }
            }
.body{
   overflow: hidden;
   &:hover{
   
       
    
   .bodyson {
    
       display: flex;
       background-color: #fff;
    }
  }
  .body:hover .ti{
    display: block;
  }
    .bodyson{
        transition: fold 3s linear;
        position: fixed;
        width: 100vw;
        left: 0;
        height: 200px;
        /* background-color: red; */
        display: flex;
        justify-content: space-around;
        /* display: none; */
        .bodyline{
            display: block;
            width: 2px;
            height: 100px;
            background-color: #e0e0e0;
            margin-top: 20px;
        }
        .bodyitem{
            text-align: center;
           line-height: 0;
            .imgsun{
               width: 120px;
               height: 100px;
               margin: 30px 0;
            }
            .title{
                height: 20px;
            }
            p{
height: 20px;

&:nth-child(3){
    color: orange;
}
            }
           
        }
    }
}
        }

        #rightbox {
            border: 1px solid #ccc;
            display: flex;
     position: relative;
            #input {
                border: 0;
                padding-left: 4px;
                height: 40px;
                line-height: 40px;
outline: none;
            }
.btm{
    width:173px;
    position: absolute;
    bottom: -152px;
    list-style: none;
    /* height: 100px; */
    /* z-index: 10; */
    border: 1px solid orange;
    display: none;
    border-top:0;
   }
   .btm li{
    width: 94%;
   
    padding: 0 6px;
    height: 30px;
    line-height: 30px;
&:hover{
    background-color: #ccc;
}
   
}
            #input[type="text"]:focus {
              
                  
                
               
            }

            .btn {
               background-color: #fff;
                border: 0;
                border-left: 1px solid #ccc;
                width: 40px;
                height: 40px;
                &:hover{
                    background-color: orange;
                }
            }
        }
    }

    .tran {
        width: 100%;
        overflow: hidden;
        background-color: #ccc;
        height: 30px;
        line-height: 30px;

        p {
            margin-left: 40px;
        }
    }

    .main {
        width: 1100px;
        padding: 0 50px;

        .title {
            display: flex;
            margin: 10px 0;

            #arrow {
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid #ccc;
                text-align: center;
                line-height: 20px;
                margin-right: 5px;
            }

            #arrow .down {
                transform: rotate(-45deg);
                border-bottom: 1px solid #ccc;
                border-left: 1px solid #ccc;
                width: 10px;
                height: 10px;
                margin: 1px 4px;
            }
            #arrow .up {
                transform: rotate(-45deg);
                border-bottom: 1px solid orange;
                border-left: 1px solid orange;
                width: 10px;
                height: 10px;
                margin: 1px 4px;
            }
            p {
                color: antiquewhite;
            }
        }

        #mainson {
            display: flex;
            flex-wrap: wrap;

            div {
                width: 216px;
                text-align: center;
                height: 120px;

                /* line-height: 100px; */
                .image {
                    width: 50px;
                    height: 50px;
                    margin: 10px 0;
                }

                border: 1px solid #ccc;
            }

            div:hover {
                color: orange;
            }
        }
    }
}
@keyframes fold{
   0%{
    height: 0;
   }
   50%{
    height: 50%;
   }
100%{
    height: 100%;
}
}